<h2 class="page-header">Search Authors</h2 class="page-header">
<form action="/authors" method="get">
  <label for="">Name</label>
  <input type="text" name="name" id="" value="<%= searchOptions.name %>">
  <button class="btn btn-primary" type="submit">Search</button>
</form>
<br>
<% authors.forEach(author => { %>
  <div><%= author.name %></div>
  <div class="btn-row">
    <a class="btn btn-primary" href="/authors/<%= author.id %>">View</a class="btn btn-primary">
    <a class="btn btn-primary" href="/authors/<%= author.id %>/edit">Edit</a class="btn btn-primary">
    <%- include('../partials/deleteForm', {url: `/authors/${author.id}`}) %>
  </div>
<% }) %>